<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="./css/art.css">
<style>
form {
width:30%;
margin:0 auto;
}
</style>
</head>
<body>
    <header>
        <h1>Blog后台管理界面</h1>
    </header>
    <div id="main">
        <div id="respond" class="comment-respond">
            <form action="#" method="post">
                <p>
                用户名:<input placeholder="用户名" name="username" type="text" size="30">
                </p>
                <p>
                昵称:&nbsp;<input placeholder="昵称" name="nick" type="text" size="30">
                </p>
                <p>
                Email:<input placeholder="Email" name="email" type="text" size="30">
                </p>
                <p>
                密码:&nbsp;<input placeholder="密码" name="password" type="password" size="30">
                </p>
                <p>
                确认密码:&nbsp;<input placeholder="再次输入密码" type="password" name="re_password" size="30">
                </p>
                <input type="submit" value="注册">
            </p>
            </form>
        </div>
    </div>
    <footer>
        Copyright &copy; 2015 · GeneratePress · WordPress
    </footer>
</body>
</html>